name: build

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      GH_TOKEN: ${{secrets.GH_TOKEN}}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Move release to draft
      run: |
        gh release edit $TAG_NAME --draft=true
      env:
        TAG_NAME: ${{ github.event.release.tag_name }}
    - name: Run npm install, build and test
      run: |
        npm i
    - run: zip -r lib.zip lib
    - name: Upload production artifacts
      run: |
        gh release upload $TAG_NAME "lib.zip#build"
        gh release edit $TAG_NAME --draft=false
      env:
        TAG_NAME: ${{ github.event.release.tag_name }}
    - name: Publish package on NPM
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}